html, body {
    margin: 0;
    background-color: white;
    color: black;
}

.titulo {
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 5px;
}

.footer {
    color: black;
    font-size: 15px;
    text-align: center;
}

.btn-contornado {
    background-color: white !important;
    color: green !important;
    border: 1px solid greenyellow !important;
}