html, body {
    margin: 0;
    background-color: white;
    color: black;
}

.moldura {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo {
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 5px;
}

.footer {
    color: black;
    font-size: 15;
    text-align: center;
    margin-top: auto;
}

